spring:
  security:
    user:
      password: Password01
  datasource:
    url: jdbc:postgresql://localhost:5432/calendar
    username: postgres
    password: xxx
    testWhileIdle: true
    validationQuery: SELECT 1
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate.ddl-auto: none
    properties.hibernate.jdbc.lob.non_contextual_creation: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true
  artemis:
    mode: native
    broker-url: tcp://localhost:61616
    user: smart_user
    password: xxx

jwt:
  secret: zdtlD3JK56m6wTTgsNFsdfSdfwerfewq
  issuer: lantushenko.com
  ExpirationDays: 7
applicaiton:
  debugMode: true

